@-ms-viewport {
	width: device-width; 
}

html {
	-ms-overflow-style: scrollbar;
	-webkit-tap-highlight-color: transparent; 
}

img {
	vertical-align: middle; 
}


body{
	font-family: 'Roboto', sans-serif;
	font-size:18px;
	padding: 0;
	margin: 0;
	height: 100vh;
}

div, span, td, th, p, pre{
	font-family:inherit;
	font-size:inherit;
}

a {
	text-decoration:none;
}

.clearfix{
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}

.scheda-trigger{
	margin-top: 0.5rem;
	text-transform: uppercase;
	font-weight: 400;
	display:block;
}

.map-wrapper{
	position:relative;
	height:100%;

	@media (max-width: 991px){
		width: 690px;
		max-width: 100%;
		position: relative;
		margin-left: auto;
		margin-right: auto;
		overflow: hidden;
	}
}

#map-tail {
	position: absolute;
	z-index: 50;
	font-size: 1rem;
	//box-shadow:1px 1px 5px darken($red, 10%);
	display: none;
	background:#fff;
	color: #444;
	padding:2px 10px;
	box-sizing:border-box;
	border-radius: 3px;
}

#map-canvas{
	position:absolute;
	top:0;
	left:400px;
	right:0;
	height:100%;
	opacity:0;
	z-index:1;
	box-shadow: 0px 0 20px rgba(0, 0, 0, 0.3);

	@media (max-width:1100px) {
		left:320px;
	}

	@media (max-width:991px) {
		left: 0;
		box-shadow:none;
	}

	@media (max-width:768px) {
		left:0;
	}
}

.navigation-header{
	height: 60px;
	background: $blu;
	padding: 18px 5px;
	padding-left: 1.1rem;
	box-sizing:border-box;
	cursor: pointer;
	
	h2{
		display: inline-block;
		margin:0;
		color:#fff;
		font-size: 1.5rem;
		font-weight: 400;
		line-height: 1.7rem;
		text-transform: uppercase;
	}

	img{
		position: absolute;
		top: 10px;
		left: 15px;
		width: 42px;
	}
}

.close-region-detail, .close-csv-detail{
	display:none;
	position: absolute;
	right: 10px;
	top: 10px;
	transition: all .3s;
	z-index: 11;

	&:hover{
		transform: rotateZ(180deg);
	}

	img{
		width: 32px;
	}
}

.close-region-detail{
	@media (max-width:991px){
		right: 21px;
	}
}

.close-csv-detail{
	@media (max-width:991px){
		right: 18px !important;
	}
}

.close-csv-detail{
	display:inline-block;
	display: inline-block;
	top: 1.5rem;
	right: 1.5rem;

	img{
		width: 40px;
	}
}

.col-left{
	position:absolute; 
	top:0px;
	left:0;
	bottom:0;
	width:400px;
	padding:0rem;
	box-sizing:border-box;
	box-shadow: 0 0 20px rgba(0,0,0,0.3);
	z-index:2;
	background:#fff;
	@extend .clearfix;

	.mobile-handler, .mobile-close{
		display: none;
	}

	@media (max-width:1100px) {
		width:320px;
	}

	@media (max-width:991px) {
		width:100%;
		left:-100%;
		transition:0.4s ease-in-out;

		&.open{
			left:0;

			.mobile-handler{
				display: none;
			}

			.mobile-close{
				display: inline-block;
				position: absolute;
				top:10px;
				right:22px;
				z-index: 3;
				color:#fff;
				font-size:20px;
				width: 35px;
				height: 35px;
				overflow: hidden;

				img{
					width: 40px;
				}
				
			}
		}

		.mobile-handler{
			display: block;
			position: absolute;
			z-index: 3;
			top: 50%;
			right: -30px;
			height: 60px;
			width: 30px;
			margin-top: -30px;
			background: #fff;
			box-shadow: 0px 1px 4px rgba(0,0,0,0.3);
			span{
				position: absolute;
				z-index: 3;
				top: 50%;
				right: 12px;
				color: #555;
				z-index: 4;
				font-size: 19px;
				margin-top: -4px;
			}
		}
	}

	h3{
		font-size: 15px;
		font-weight: 400;
		line-height: 19px;
		margin-bottom: 10px;
	}
	
}

.region-list-wrapper{
	position:absolute; 
	top:60px;
	left:0;
	right:0;
	bottom:0;
	overflow: hidden;

	&.region-selected{
		top: 110px;

		.infowindow{
			display: block;
			@extend .animated;
			@extend .fadeIn;
			animation-delay: 0.4s;
		}
	}

	.infowindow{
		width:100%;
		border-top:1px solid darken(#f9f9f9, 7%);
		padding:1.5rem;
		box-sizing:border-box;
		transition: 0.15s;
		position:relative;
		overflow: hidden;
		z-index: 0;
		display: none;

		&:last-child{
			@media (max-width:991px) {
				border-bottom:1px solid darken(#f9f9f9, 7%);
			}
		}

		h3{
			z-index: 2;
			position: relative;
			margin-top:0;
			color: $linkcolor;
			cursor: pointer;
		}
		div,span, a{
			z-index: 2;
			position:relative;
		}
		.info > div:not(.info-title){
			padding:2px;
			display: table;
			width:100%;
		}
		.goto-detail{
			display: none;
		}

	}
	
}

.region-list{
	list-style-type: none;
	margin:0;
	padding:0;

	@media (max-width: 991px){
		box-shadow: 0px 0px 3px #fff;
	}

	li > a.region-name{
		cursor: pointer;
		display: block;
		padding: 0.82rem 1.2rem;
		border-bottom: 1px solid #f0f0f0;	
		transition: background 0.3s ease-in-out;
		color: darken(#636c72, 7%);
		&:hover{
			background: #f1f1f1;
		}
	}

	li.active{
		position:relative;
		> a.region-name{
			background: $darkblu;
			color:#fff;
		} 
		> a.close-region-detail{
			display:inline-block;
		}
	}
}

.gm-style-iw{
	text-align: center;
	div {
		overflow: hidden !important;
	}
	.infowindow{
		.info > div{
			@media (max-width:550px) {
				&.info-settore{
					display: none !important;
				}
			}	
		}
	}
}

.infowindow{
	font-size: 0.9rem;
	width: 280px;
	text-align: left;
	padding-bottom: 0.6rem;
	padding-top: 0.6rem;
	color:#000;

	div{
		color:#000;
	}

	.info-title{
		padding:10px 0;
	}

	h3{
		color: #000;
		font-size: 1.1em;
		font-weight: 600;
		line-height: 19px;
		margin-bottom:0;
		margin-top:0px;
	}
	
}

.info{

	.label{
		display: table-cell;
		color:#999;
		width:60px;
		padding-right:5px;
		margin-bottom:2px;
	}

	.label + span{
		display: table-cell;
		color:#000;
	}
	
}

.gm-style-iw{
	.infowindow{
		.info > div{
			@media (max-width:550px) {
				&.info-settore{
					display: none !important;
				}
			}	
		}
	}
}

.ps__rail-y{
	z-index:1;

	&+ .infowindow{
		border-top: 0;
	}
}

#map-region-detail{
	display:none;
	position: absolute;
	top: 4vw;
	left: 470px;
	right: 70px;
	bottom: 4vw;
	background: #fff;
	z-index: 2;
	padding: 2rem 0;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);

	@media (max-width:1100px) {
		left:390px;
	}

	@media (max-width:991px) {
		left: 0;
		top:111px;
		width: 100%;
	}

	.map-region-detail-body{
		overflow: hidden;
		position:relative;
		padding: 0 2rem;
		padding-bottom:2rem;
		box-sizing:border-box;
		@extend .animated;
		@extend .fadeIn;

		@media (max-width:991px){
			font-size: 0.85rem;
		}
	}

	div, p{
		font-family: inherit;
	}

	h3{
		position:relative;
		margin: -2rem 0rem 0rem 0rem;
		padding: 2rem;
		padding-right: 4rem;
		background: $blu;
		font-weight: 400;
    text-transform: uppercase;
		color: #fff;
		border-bottom: 1px solid darken($blu, 7%);

		@media (max-width:991px){
			font-size: 1.1rem;
			padding: 1rem;
			padding-right: 3.8rem;
			line-height: 1.3rem;
		}

		small{
			display: block;
			margin-top:5px;
			color: $lightblu;
			font-size: 1.2rem;

			@media (max-width:991px){
				font-size: 0.9rem;
			}
		}
	}

	.description{
		margin: 2rem 0;
		img{
			float:left;
			margin-right: 1rem;
			margin-bottom: 5px;
			max-width: 130px
		}
	}

	.info .label{
		width:100px;
	}
}

